{
  "CODE_APP_FOLDER_NAME": "<YOUR CODE APP FOLDER NAME HERE>",
  "ENVIRONMENT_ID": "<YOUR ENVIRONMENT ID HERE>",
  "SHAREPOINT_CONNECTION_ID": "<YOUR SHAREPOINT CONNECTION ID HERE>",
  "APPROVALS_CONNECTION_ID": "<YOUR APPROVALS CONNECTION ID HERE>",
  "SHAREPOINT_LIST_NAME_ENV_VAR": "<YOUR SHAREPOINT LIST NAME ENVIRONMENT VARIABLE NAME HERE>",
  "SHAREPOINT_URL_ENV_VAR": "<YOUR SHAREPOINT URL ENVIRONMENT VARIABLE NAME HERE>"
}